@blockify: {
	display: inline-block;
	float: left;
};

.textify(@size: 12px,@fontFamily: 'Dosis') {
	font-family: @fontFamily;
	font-size: @size;
}
#MapMain {
	width: 100%;
	height: 600px;
}

.popup .leaflet-popup-content-wrapper{
	border-radius: 0;
	background-color: #acb5c4;
}

.leaflet-popup-tip {
	background-color: #acb5c4;
}

#leftCol {
	background-color: #f2f2f2;
}
.popUprow {
	.textify(12px,'Typo Grotesk');
	p {
		margin-top: 6px;
		margin-bottom: 0px;
	}
}

.titlePopup {
	b {
		font-size: 15px;
	}
}

.separate {
	width: 100%;
	height: 1px;
	background-color: black;
	margin-top: 3px;
}

.eachColumn {
	width: 48%;
	height: 100px;
	padding-bottom: 30px;
	@blockify();
}

.legendBox {
	@blockify();
	width: 120px;
	height: 30px;
}

.firstDiv {
	width: 100%;
	display: block;
	float: left;
	margin-left: 20px;
}

.legendTitles {
	@blockify();
	width: 120px;
	.textify();
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
}

#legendHeader {
	.textify(20px);
	font-weight: 600;
	margin-top: 8px;
	margin-bottom: 15px;
}

#actualText {
	.textify(18px);
	width: 90%;
}